@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 228 25% 97%;
    --foreground: 240 30% 14%;

    --card: 0 0% 100%;
    --card-foreground: 240 30% 14%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 30% 14%;

    --primary: 248 76% 62%;
    --primary-foreground: 0 0% 100%;

    --secondary: 228 25% 95%;
    --secondary-foreground: 240 30% 14%;

    --muted: 230 15% 70%;
    --muted-foreground: 232 18% 50%;

    --accent: 174 62% 56%;
    --accent-foreground: 240 30% 14%;

    --destructive: 14 68% 60%;
    --destructive-foreground: 0 0% 100%;

    --success: 160 100% 36%;
    --success-foreground: 0 0% 100%;

    --border: 228 20% 92%;
    --input: 228 20% 92%;
    --ring: 248 76% 62%;

    --radius: 0.75rem;

    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 232 18% 50%;
    --sidebar-primary: 248 76% 62%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 256 50% 97%;
    --sidebar-accent-foreground: 248 76% 62%;
    --sidebar-border: 228 20% 92%;
    --sidebar-ring: 248 76% 62%;

    --chart-1: 248 76% 62%;
    --chart-2: 174 62% 56%;
    --chart-3: 228 14% 50%;
    --chart-4: 228 14% 38%;
    --chart-5: 228 14% 26%;

    --positive: 160 100% 36%;
    --negative: 14 68% 60%;
    --neutral: 232 18% 50%;

    --warning: 45 96% 71%;
  }

  .dark {
    --background: 228 25% 97%;
    --foreground: 240 30% 14%;

    --card: 0 0% 100%;
    --card-foreground: 240 30% 14%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 30% 14%;

    --primary: 248 76% 62%;
    --primary-foreground: 0 0% 100%;

    --secondary: 228 25% 95%;
    --secondary-foreground: 240 30% 14%;

    --muted: 230 15% 70%;
    --muted-foreground: 232 18% 50%;

    --accent: 174 62% 56%;
    --accent-foreground: 240 30% 14%;

    --destructive: 14 68% 60%;
    --destructive-foreground: 0 0% 100%;

    --success: 160 100% 36%;
    --success-foreground: 0 0% 100%;

    --border: 228 20% 92%;
    --input: 228 20% 92%;
    --ring: 248 76% 62%;

    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 232 18% 50%;
    --sidebar-primary: 248 76% 62%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 256 50% 97%;
    --sidebar-accent-foreground: 248 76% 62%;
    --sidebar-border: 228 20% 92%;
    --sidebar-ring: 248 76% 62%;

    --chart-1: 248 76% 62%;
    --chart-2: 174 62% 56%;
    --chart-3: 280 70% 60%;
    --chart-4: 160 80% 45%;
    --chart-5: 30 90% 55%;

    --positive: 160 100% 36%;
    --negative: 14 68% 60%;
    --neutral: 232 18% 50%;

    --warning: 45 96% 71%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
